/* I borrowed the css attributes from w3schools.com and implemented
them in my own ways (it would be redundant if I kept linking to w3schools*/
#board
{
    font-family: verdana;

    width: 600px;
    height: 600px;
    padding: 50px 0;
    text-align: center;
    background: white;
    margin: auto;
    border: 10px solid dodgerblue;

}

#text1
{
    font-size: 20px;
}

#start
{
    color: orangered;
    border: dashed 5px dodgerblue;
    padding: 10px;
    width: 200px;
    margin: auto;

}
#startButton1
{
    background-color: white;
    border: 4px solid deepskyblue;
    color: red;
    border-radius: 50%;
    padding: 12px;
    font-size: 15px;

}
#playAgain
{
    position: absolute;
    left: 890px;
    top: 535px;
}

#buttonPlayAgain
{
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #e7e7e7; color: black;
}


#gameOver
{
    font-family: Verdana;

    width: 600px;
    height: 600px;
    padding: 50px 0;
    text-align: center;
    background: black;
    margin: auto;
    border: 10px solid white;
}
#title
{
    font-family: verdana;
    font-size: 300%;
    color: orangered;
    border: 5px solid dodgerblue;
    padding: 10px;
    width: 600px;
    margin: auto;
}

#body
{

}

#button1
{
    position: absolute;
    left: 675px;
    top: 180px;
    /*background-color: green; color: black; */

}

#button2
{
    position: absolute;
    left: 883px;
    top: 180px;
}

#button3
{
    position: absolute;
    left: 1065px;
    top: 180px;
}

#button4
{
    position: absolute;
    left: 675px;
    top: 400px
}

#button5
{
    position: absolute;
    left: 883px;
    top: 400px;
}

#button6
{
    position: absolute;
    left: 1065px;
    top: 400px;
}

#button7
{
    position: absolute;
    left: 675px;
    top: 585px;
}

#button8
{
    position: absolute;
    left: 883px;
    top: 585px;
}

#button9
{
    position: absolute;
    left: 1065px;
    top: 585px;
}